.conExtra {
    box-sizing: border-box;
}
.colExtra {
    max-width: 1156px;
    width: 100%;
    padding-right: 1.5rem;
    padding-left: 1.5rem;
    margin-right: auto;
    margin-left: auto;
    box-sizing: border-box;
}
.mainTop {
    border-top: 1px solid #F1F2F4;
    padding-bottom: 4rem;
    padding-top: 4rem;
    box-sizing: border-box;
}
.secTop {
    flex-wrap: wrap;
    margin-right: calc(-16px/2);
    margin-left: calc(-16px/2);
    display: flex;
    box-sizing: border-box;
}
.topA {
    max-width: 83.33333333333333%;
    flex: 0 1 83.33333333333333%;
    margin-left: 8.333333333333334%;
    padding-bottom: 0;
    padding-top: 0;
    padding-right: calc(16px/2);
    padding-left: calc(16px/2);
    box-sizing: border-box;
}
.conA {
    padding-top: 2rem;
    padding-bottom: 2rem;
    box-sizing: border-box;
}
.colA {
    flex-wrap: wrap;
    margin-right: calc(-16px/2);
    margin-left: calc(-16px/2);
    display: flex;
    box-sizing: border-box;
}
.bxACard {
    min-width: 25%;
    flex: 0 1 25%;
    padding-bottom: 0;
    padding-top: 0;
    padding-right: calc(16px/2);
    padding-left: calc(16px/2);
    flex-direction: column;
    align-items: center;
    display: flex;
    box-sizing: border-box;
}
.bxA {
    max-width: 12rem;
    margin-bottom: 2rem;
    flex-direction: column;
    align-items: center;
    display: flex;
    box-sizing: border-box;
}
.bxAP {
    font-weight: 700;
    text-align: center;
    margin-bottom: 1rem;
    line-height: 48px;
    font-size: 32px;
    padding: 0;
}
.bxAP2 {
    margin: 0;
    line-height: 30px;
    font-size: 17px;
    text-align: center;
    color: #505256;
    padding: 0;
}
.col2Extra {
    background: #FFFFFF;
    box-sizing: border-box;
}
.secDown {
    border-radius: 56px;
    flex-direction: row;
    padding-right: 4rem;
    padding-left: 4rem;
    padding-bottom: 3.5rem;
    padding-top: 3.5rem;
    background: #F7F8F9;
    justify-content: space-between;
    display: flex;
    box-sizing: border-box;
}
.downA {
    box-sizing: border-box;
}
.downAP {
    font-weight: 600;
    line-height: 40px;
    font-size: 26px;
    padding: 0;
    margin-bottom: 0.5rem;
}
.downAP2 {
    margin-bottom: 0;
    line-height: 30px;
    font-size: 17px;
    font-size: 17px;
    padding: 0;
}
.downB {
    align-items: flex-end;
    display: flex;
}
.downB a {
    margin: 0;
    text-decoration: none;
    font-weight: 500;
    cursor: pointer;
    padding: 0;
}
.downBbtn {
    box-shadow: 0 0 1px 0 rgb(8 11 14 / 6%), 0 1px 1px 0 rgb(8 11 14 / 10%);
    width: 12rem;
    border-radius: 1000rem;
    height: 3rem;
    background: #000000;
    justify-content: space-between;
    padding-right: 1.5rem;
    padding-left: 1.5rem;
    line-height: 24px;
    font-size: 14px;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
    font-weight: 500;
    color: #FFFFFF;
    border: none;
    cursor: pointer;
    position: relative;
    align-items: center;
    display: flex;
    box-sizing: border-box;
}
.downBsvg {
    min-height: 20px;
    min-width: 20px;
    width: 20px;
    height: 20px;
    box-sizing: border-box;
}