.contain {
    margin-block: 20px;
    width: 98.53vw;
    box-sizing: border-box;
    /* overflow: hidden; */
}
button:focus{
    outline: none;
}
.con {
    width: 100%;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
}
.ctnr{
    border-bottom: 1px solid #F1F2F4;
    padding-bottom: 30rem;
    justify-content: center;
    display: flex;
    box-sizing: border-box;
}
.leftCol {
    min-width: 100%;
    height: auto;
    position: relative;
    flex-direction: column;
    align-items: center;
    display: flex;
    box-sizing: border-box;
    
}
.ltTop {
    width: auto;
    left: 5%;
    position: absolute;
    margin: 0;
    top: 0;
    justify-content: center;
    display: flex;
    box-sizing: border-box;
}
.ltTop button {
    border: none;
}
.ltIcon {
    box-shadow: 0 0 1px 0 rgb(8 11 14 / 6%), 0 3px 3px -1px rgb(8 11 14 / 10%);
    border: 1px solid #F7F8F9;
    width: 2.5rem;
    margin-right: 14px;
    border-radius: 1000rem;
    background: #FFFFFF;
    line-height: 24px;
    font-size: 14px;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
    font-size: 500;
    color: #FFFFFF;
    cursor: pointer;
    height: 2.5rem;
    position: relative;
    padding-left: 1rem;
    padding-right: 1rem;
    align-items: center;
    justify-content: center;
    display: flex;
}
.ltIcon:hover {
    box-shadow: 0 8px 5px 1px rgb(8 11 14 / 5%), 0 8px 5px 1px rgb(8 11 14 / 5%);
}
.ltMR {
    margin-right: 0;
}
.svgIcon {
    min-height: 18px;
    min-width: 18px;
    width: 18px;
    height: 18px;
    box-sizing: border-box;
}
.ltDown {
    width: 19.5rem;
    left: 5%;
    position: absolute;
    margin: 0;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-bottom: 1.5rem;
    max-width: 100%;
    height: 19.5rem;
    top: 4.5rem;
    border-radius: 12px;
    border: 1px solid #F7F8F9;
    box-shadow: 0 0 1px 0 rgb(8 11 14 / 6%), 0 16px 16px -1px rgb(8 11 14 / 10%);
    background: #FFFFFF;
    padding-top: 1.5rem;
    flex-direction: column;
    display: flex;
    box-sizing: border-box;
}
.ltDnCon {
    flex: 1;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    display: flex;
    box-sizing: border-box;
}
.ltImg {
    background-image: url(./images/user.png);
    background-position: center;
    background-size: cover;
    width: 4.5rem;
    height: 4.5rem;
    border-radius: 1000rem;
    margin-bottom: 1rem;
    position: relative;
    box-sizing: border-box;
}
.ltActive {
    width: 0.5rem;
    height: 0.5rem;
    right: 0.25rem;
    left: 3.73rem;
    bottom: 0.25rem;
    padding: 1px;
    box-shadow: 0 0 1px 0 rgb(8 11 14 / 6%), 0 3px 3px -1px rgb(8 11 14 / 10%);
    border-radius: 1000rem;
    background: #FFFFFF;
    position: absolute;
    box-sizing: border-box;
}
.ltAtv {
    background: #23825F;
    width: 6px;
    height: 6px;
    border-radius: 1000rem;
    box-sizing: border-box;
}
.ltP {
    line-height: 32px;
    font-size: 22px;
    margin-bottom: 0.25rem;
    text-align: center;
    font-weight: 500;
    padding: 0;
}
.ltP2 {
    line-height: 20px;
    font-size: 12px;
    color: #A7AAB0;
    margin-bottom: 2.5rem;
    text-align: center;
    padding: 0;
}
.ltDnCol {
    width: 100%;
    display: flex;
    box-sizing: border-box;
}
.ltFlw {
    max-width: calc(50% - 0.5rem);
    flex: 1;
    border-radius: 1000rem;
    margin-right: 1rem;
    justify-content: space-between;
    line-height: 24px;
    font-size: 14px;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
    font-weight: 500;
    color: #FFFFFF;
    background: #0284FE;
    border: none;
    cursor: pointer;
    height: 2.5rem;
    position: relative;
    padding-right: 1rem;
    padding-left: 1rem;
    align-items: center;
    display: flex;
    box-sizing: border-box;
}
.ltFlwbtn:hover {
    background: #0077e6;
}
.svgFlw {
    width: 18px;
    height: 18px;
    max-width: 18px;
    max-height: 18px;
    box-sizing: border-box;
}
.ltMsg {
    margin-right: 0;
    border: 1px solid #C9CED6;
    background: #FFFFFF;
    color: #505256;
}
.midTop {
    display: block;
    width: 17rem;
    margin-left: auto;
    margin-right: auto;
    border-radius: 12px;
    border: 1px solid #F7F8F9;
    box-shadow: 0 0 1px 0 rgb(8 11 14 / 6%), 0 16px 16px -1px rgb(8 11 14 / 10%);
    background: #FFFFFF;
    position: absolute;
    top: 0;
    overflow: hidden;
    box-sizing: border-box;
}
.midImg {
    background-repeat: no-repeat;
    background-image: url(https://atomizecode.com/static/card-img-0fc7deb16731e5a07c16dad53ba71c7a.png);
    padding-bottom: 84%;
    background-position: center;
    background-size: cover;
    box-sizing: border-box;
}
.midCon {
    padding: 1rem;
    justify-content: space-between;
    align-items: center;
    display: flex;
    box-sizing: border-box;
}
.midCol {
    align-items: center;
    display: flex;
    box-sizing: border-box;
}
.midDP {
    background-image: url(https://atomizecode.com/static/girl2-347308679d08c4bc3b4fb0311ebee728.png);
    width: 1.5rem;
    height: 1.5rem;
    background-position: center;
    background-size: cover;
    border-radius: 1000rem;
    margin-right: 1rem;
    box-sizing: border-box;
}
.midName {
    margin: 0;
    font-weight: 500;
    padding: 0;
    font-size: 14px;
    line-height: 24px;
}
.svgHt {
    width: 18px;
    height: 18px;
    min-width: 18px;
    min-height: 18px;
    cursor: pointer;
    box-sizing: border-box;
}
.svgHt:hover path {
    fill: red;
}
.rtTop {
    height: 24rem;
    width: 19.5rem;
    position: absolute;
    margin: 0;
    padding: 2rem;
    max-width: 100%;
    border-radius: 12px;
    border: 1px solid #F7F8F9;
    box-shadow: 0 0 1px 0 rgb(8 11 14 / 6%), 0 16px 16px -1px rgb(8 11 14 / 10%);
    background: #FFFFFF;
    right: 5%;
    top: 0;
    flex-direction: column;
    display: flex;
    box-sizing: border-box;
}
.rtCon {
    flex: 1;
    box-sizing: border-box;
}
.rtP {
    margin-top: 0.5rem;
    line-height: 32px;
    font-size: 22px;
    text-align: center;
    font-weight: 500;
    padding: 0;
    margin-bottom: 0.5rem;
}
.rtP2 {
    line-height: 20px;
    font-size: 12px;
    color: #A7AAB0;
    text-align: center;
    margin-bottom: 4rem;
    padding: 0;
}
.rtP2A{ 
    color: #0284FE;
    margin-inline: 2px;
    text-decoration: none !important;
    font-weight: 500;
    cursor: pointer;
}
.rtMid {
    margin-bottom: 1rem;
    position: relative;
    display: flex;
    box-sizing: border-box;
}
.rtInt {
    color: #000000;
    border-radius: 1000rem;
    border: 1px solid #E1E4E8;
    width: 100%;
    background: #FFFFFF;
    line-height: 24px;
    font-size: 14px;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
    font-weight: 500;
    height: 2.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    box-sizing: border-box;
    font-family: inherit;
}
.rtInt:focus {
    outline: 1px solid #0284FE;
}
.svgInt {
    transform: translateY(-50%);
    right: 1rem;
    top: 50%;
    min-height: 18px;
    min-width: 18px;
    width: 18px;
    height: 18px;
    position: absolute;
    box-sizing: border-box;
}
.rtMid2 {
    margin-bottom: 3rem;
    position: relative;
    display: flex;
    box-sizing: border-box;
}
.rtLog {
    background: #EEF7FF;
    border-radius: 1000rem;
    color: #0284FE;
    height: 3rem;
    line-height: 24px;
    font-size: 14px;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
    font-weight: 500;
    border: none;
    cursor: pointer;
    position: relative;
    padding-right: 1rem;
    padding-left: 1rem;
    align-items: center;
    justify-content: center;
    display: flex;
    box-sizing: border-box;
}
.rtLog:hover {
    background: #d6eafc;
}
.midDn {
    width: 17rem;
    margin-left: auto;
    margin-right: auto;
    top: 19.5rem;
    display: flex;
    position: absolute;
    margin: 0;
    padding: 1rem;
    height: 4.5rem;
    border-radius: 12px;
    border: 1px solid #F7F8F9;
    box-shadow: 0 0 1px 0 rgb(8 11 14 / 6%), 0 16px 16px -1px rgb(8 11 14 / 10%);
    justify-content: space-between;
    background: #FFFFFF;
    align-items: center;
    box-sizing: border-box;
}
.midConn {
    display: flex;
    box-sizing: border-box;
}
.midDnDP {
    background-image: url(./images/user2.png);
    background-position: center;
    background-size: cover;
    width: 2.5rem;
    border-radius: 1000rem;
    margin-right: 1rem;
    height: 2.5rem;
    box-sizing: border-box;
}
.midColm {
    box-sizing: border-box;
}
.midP {
    margin: 0;
    font-weight: 500;
    padding: 0;
    font-size: 14px;
    line-height: 24px;
}
.midP2 {
    line-height: 20px;
    font-size: 12px;
    color: #A7AAB0;
    margin: 0;
    padding: 0;
}
.svgMid {
    min-height: 20px;
    min-width: 20px;
    width: 20px;
    height: 20px;
    cursor: pointer;
    box-sizing: border-box;
}
.svgMid:hover path {
    fill: #0284FE;
}