.mainContainer {
  margin-block: 50px;
  text-align: center;
  margin-top: 8%;
}
.hdr {
  font-size: 48px;
  line-height: 56px;
  font-weight: 500;
  padding: 0;
  margin-bottom: 1rem;
}
.hdr2 {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2.5rem;
  padding: 0;
  max-width: 38rem;
  color: #505256;
  font-weight: 400;
  font-size: 17px;
  line-height: 30px;
}
.hdr3 {
    flex-direction: row;
    width: 100%;
    justify-content: center;
    display: flex;
    box-sizing: border-box;
}
.hdr3 a {
    text-decoration: none;
}
.btn1 {
    width: 11rem;
    margin-bottom: 0;
    height: 3rem;
    margin-right: 1rem;
    border-radius: 8px;
    line-height: 24px;
    font-size: 14px;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
    font-weight: 500;
    color: #ffffff;
    background: #0284FE;
    border: none;
    position: relative;
    padding-right: 1rem;
    padding-left: 1rem;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    display: flex;
}
.btn1:hover {
  background: #4ba7fe;
}
.aBtn2 {
    color: #0284FE;
    margin: 0;
    text-decoration: none;
    font-weight: 500;
    padding: 0;
}
.btn2 {
    width: 11rem;
    background: rgba(0, 0, 0, 0);
    border: 1px solid #E1E4E8;
    padding-left: 0.5rem;
    height: 3rem;
    color: #505256;
    border-radius: 8px;
    line-height: 24px;
    font-size: 14px;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
    font-weight: 500;
    position: relative;
    padding-right: 1rem;
    align-items: center;
    justify-content: center;
    display: flex;
    box-sizing: border-box;
}
.svgBtn {
    min-height: 18px;
    min-width: 18px;
    width: 18px;
    margin-right: 0.5rem;
    height: 18px;
    box-sizing: border-box;
}
