.conTile {
    box-sizing: border-box;
}
.colTile {
    max-width: 1156px;
    width: 100%;
    padding-right: 1.5rem;
    padding-left: 1.5rem;
    margin-right: auto;
    margin-left: auto;
    box-sizing: border-box;
}
.col2Tile {
    background: #FFFFFF;
    box-sizing: border-box;
}
.sec {
    height: 25rem;
    border-radius: 56px;
    flex-direction: row;
    padding-right: 4rem;
    padding-left: 4rem;
    padding-bottom: 3.5rem;
    padding-top: 3.5rem;
    background: #363535;
    justify-content: space-between;
    display: flex;
    box-sizing: border-box;
}
.down {
    box-sizing: border-box;
    /* display: flex; */
    margin-right: 0;
    margin-left: 15.3%;
}
/* .down p:hover {
    color: #000000;
} */
.lrn {
    background-image: linear-gradient(270deg, #ff9a9e, #fecfef);
}
.bld {
    background-image: linear-gradient(270deg, #a1c4fd, #c2e9fb);
}
.crk {
    background-image: linear-gradient(90deg, #B7F8DB, #50A7C2);
}
.downTile {
    /* font-weight: 400; */
    cursor: pointer;
    line-height: 40px;
    font-size: 40px;
    padding: 0;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-bottom: 4.5rem;
    /* color: #FFFFFF; */
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}
.down2 {
    margin-left: 0%;
    margin-right: auto;
    line-height: 40px;
}
.down2 img {
    height: 300px;
}
