.conFtr {
    padding-bottom: 5rem;
    padding-top: 8rem;
    position: relative;
    box-sizing: border-box;
}
.colFtr {
    max-width: 1156px;
    width: 100%;
    padding-right: 1.5rem;
    padding-left: 1.5rem;
    margin-right: auto;
    margin-left: auto;
    box-sizing: border-box;
}
.mainFtr {
    display: block;
    margin-bottom: 8rem;
    box-sizing: border-box;
}
.topFtr {
    flex-wrap: wrap;
    margin-right: calc(-16px/2);
    margin-left: calc(-16px/2);
    display: flex;
    box-sizing: border-box;
}
.bxCardFtr {
    max-width: 14.666666666666668%;
    flex: 0 1 14.666666666666668%;
    margin-left: 5.333333333333334%;
    padding-bottom: 0;
    padding-top: 0;
    padding-right: calc(16px/2);
    padding-left: calc(16px/2);
    box-sizing: border-box;
}
.bxCardFtrML {
    margin-left: 0;
}
.bxFtr {
    padding-left: 2.5rem;
    padding-bottom: 0;
    color: #505256;
    box-sizing: border-box;
}
.bxFtrP {
    text-transform: capitalize;
    color: #000000;
    margin-bottom: 1rem;
    font-weight: 500;
    padding: 0;
    font-size: 14px;
    line-height: 24px;
}
.bxFtr a {
    text-decoration: none;
}
.ftrP {
    color: #505256;
    padding: 0;
    margin-bottom: 0.5rem;
    font-size: 14px;
    line-height: 24px;
}
.downFtr {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}
.downFtr h2 {
    font-weight: 400;
    text-align: center;
    margin-bottom: 1rem;
    line-height: 24px;
    font-size: 14px;
    padding: 0;
}
.downFtrSec {
    align-items: center;
    justify-content: center;
    display: flex;
    box-sizing: border-box;
}
.downFtrSec a {
    text-decoration: none;
    font-weight: 500;
    cursor: pointer;
    margin: 0;
    padding: 0;
}
.svgFtrIcon {
    min-height: 20px;
    min-width: 20px;
    width: 20px;
    height: 20px;
    margin-right: 1rem;
    cursor: pointer;
    box-sizing: border-box;
}
.ftrP:hover {
    /* color: #0284FE; */
    color: #006ed5;
}
.svgFtrIcon path:hover {
    fill: #0284FE;
}